@import "../common/variables";

.closeButton {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form {
  textarea {
    width: 90%;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 10rem;
    border: $border-light;
    font-family: $font-family-sans-serif;
  }

  .characterCount {
    font-size: 0.8rem;
    margin-top: -0.5rem;
    display: block;
    width: 18rem;
    text-align: right;
    margin-left: auto;
    margin-right: 0.6rem;
    color: $grey-dark;
  }

  .tag {
    margin: 0.25rem;
    padding: 0.12rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    cursor: pointer;

    &:hover {
      background-color: $grey-light;
    }
  }

  .selectedTag {
    //background-color: $midd-blue;
    background-color: $logo-blue;
    color: $white;
  }

  .submitButton {
    width: 8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    background-color: $logo-blue;
    color: $white;
    border: $border-light;
    border-radius: $border-radius-small;
    font-size: 1rem;
    font-weight: bold;
    outline: none;

    &:hover {
      border: $border-blue;
      background-color: $offwhite;
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
      color: $black;
    }
  }
}