@import "../common/_variables.scss";

.container {

   margin: 1rem;
   margin-left: 2rem;
   margin-right: 2rem;


   h1 {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
      color: #333;
      margin-bottom: 0;
   }

   &>span {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #333; //8c8c8c
      border: $border-light;
      border-radius: $border-radius-small;


      svg {
         margin: 0.1rem;
         margin-top: 0.5rem;
      }

      nav {
         display: inline;

         ol {
            display: inline;
            padding: 0.1rem;
            margin: 0;

            li span {
               margin: 0;
            }
         }
      }

      a:any-link {
         color: #333;
         text-decoration: none;

         &:hover {
            text-decoration: underline;
         }
      }

   }


   p {
      font-weight: 400;
      line-height: 1.2;
      color: #333;
      margin-bottom: 0;
      margin-top: 0.2rem;
   }







}