.footer {
  position: fixed; //absolute
  bottom: 0;
  width: 100%;
  max-height: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  background-color: #fafafa;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;


  span {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.8em;
    color: #828282;

    a {
      //override default link styles
      color: #828282;
      margin-right: 1rem;

      &:hover {

        color: #000;

      }
    }
  }

  .logoContainer {
    height: 100%;
    max-height: 1rem;
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    width: 6rem;

    .logo {
      height: 1rem;

    }

  }


}