@import "../common/_variables.scss";

.container {
  margin: 1rem;
  width: 80%;
  max-width: 700px;
  display: inline-block;
  //padding: 1rem;
  border-radius: $border-radius-medium;
  outline: $border-light;
  background-color: #fcfcfc;
  //box-shadow: $shadow-medium-light;

  .reviewMain {
    padding: 1rem;
    padding-bottom: 0;

    &>span:first-of-type {
      font-size: $font-size-large;
      vertical-align: middle;
      //border: $border-light;
      //border-radius: $border-radius-small;
      padding: 2px;
      // &::after{
      //    content: "/10";
      // }
    }

    span {
      a:any-link {
        color: #000;
      }
    }

    p {
      overflow-wrap: break-word;
    }

    .flagButton {
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      float: right;

      &:hover {
        svg {
          stroke: $error-main;
          transform: scale(1.4);
          transition: ease-in-out 0.3s;
        }
      }
    }
  }

  .upvoteButton {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;

    &:hover {
      svg {
        stroke: #0c46b1; //#048204
        transform: scale(1.4);
        transition: ease-in-out 0.3s;
      }
    }
  }

  .downvoteButton {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    float: right;
    margin-right: 0.8rem;

    &:hover {
      svg {
        stroke: #7f38ec;
        transform: scale(1.4);
        transition: ease-in-out 0.3s;
      }
    }
  }
}

.green {
  $color: #048204;

  svg {
    fill: $white;
    background-color: $color;
    border-radius: 50%;
    border: 1px solid $color;
  }
}

.light-green {
  $color: #a6d785;

  svg {
    fill: $white;
    background-color: $color;
    border-radius: 50%;
    border: 1px solid $color;
  }
}

.yellow {
  $color: #ffc718;

  svg {
    fill: $white;
    background-color: $color;
    border-radius: 50%;
    border: 1px solid $color;
  }
}

.orange {
  $color: #ffa500; //#ff6600

  svg {
    fill: $white;
    background-color: $color;
    border-radius: 50%;
    border: 1px solid $color;
  }
}

.red {
  $color: #cc0404;

  svg {
    fill: $white;
    background-color: $color;
    border-radius: 50%;
    border: 1px solid $color;
  }
}

.largeReview {}




@media screen and (max-width: $screen-small) {
  .reviewMain {

    span:nth-of-type(3) {
      display: block;
      padding-left: 1.8rem;
      position: relative;
      top: -12px;
    }

    .instructorLink {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      max-width: 110px;
      display: inline-block;
      position: relative;
      top: 4px;
    }

    &>p {
      position: relative;
      top: -2rem;
      margin-bottom: -1rem;

    }

    button {
      position: relative;
      top: -3rem;
      transform: scale(1.5);
    }

    button:nth-of-type(3) {
      padding-left: 0.6rem;
    }
  }
}