.container {}



.termSelect {

    width: 100%;

    text-decoration: underline;
    cursor: pointer;

    font-size: 1rem;
    vertical-align: bottom;

    padding: 0;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    &>div>select {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        margin: 0;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        cursor: pointer;

    }

    &>div>div {
        background-color: transparent;
        right: 0;

    }

}


.scheduleControlBar {

    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    outline: 1px solid #ccc;
    border-radius: 0.5rem;

    box-sizing: border-box;
    padding: 0;

    button {

        padding: 0;
        border: none;
        background-color: transparent;

        cursor: pointer;
        border-right: 1px solid #ccc;
        border-radius: 0.5rem;

        &:hover {
            background-color: #eeeeee;
        }


    }

    &>:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &>:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-right: none;
    }



}