.calendar {

    font-family: Montserrat, Roboto, Helvetica, sans-serif;
    padding-bottom: 1rem;


}



.placeholder {
    width: 100%;
    height: 100%;

    .placeholderImage {

        width: 100% !important;

        display: block;

        margin-left: auto;
        margin-right: auto;

        min-height: 20rem;
        min-width: 20rem;

        max-height: 600px;
        max-width: 600px;

    }

    .placeholderText {

        width: 60%;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.4rem;
        font-weight: bold;
        color: #646464;
        text-align: center;
    }

}