@import "../../../styles/common/_variables.scss";


.container {
    padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #f3f5f7;
    // border-bottom: 1px solid #e6e6e6;

    h1 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #333;
        margin-bottom: 0;
    }

    p {
        font-weight: 400;
        line-height: 1.2;
        color: #333;
        margin-bottom: 0;
        margin-top: 0.2rem;
    }

    .instructorLink {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        max-width: 110px;
        display: inline-block;
        position: relative;
        top: 4px;
    }

    .instructorText {
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .avatar {
        border: 3px solid #fff;
        box-shadow: $shadow-small-light;
        outline: $border-light;
    }

    .emailIcon {
        vertical-align: middle;
    }

    .emailText {
        color: #333;
    }


}