@import "../../../styles/common/_variables.scss";
@import "../../../styles/common/_mixins.scss";

.sidebar {
    flex: 1;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    border-top: none;
    border-left: none;
    background: #f3f5f7;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 2rem;
    max-width: 400px;
    min-width: 260px;
    overflow: auto;

    @include hideScrollbar;

}