@import './common/_variables.scss';
@import './common/_mixins.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-color: $offwhite;
  font-family: $font-family-main;
}

@include headings {
  font-family: $font-family-heading;
}