@mixin reset_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal_list {
  @include reset_list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2rem;
    }
  }
}

@mixin float($direction) {
  float: $direction;
}

/* Flex */
@mixin flex {
  display: flex;
}

@mixin flex_column {
  @include flex;
  flex-direction: column;
}

@mixin flex_row {
  @include flex;
  flex-direction: row;
}

@mixin flex_row_nowrap {
  @include flex_row;
  flex-wrap: nowrap;
}

@mixin grid($flex) {
  @if $flex {
    @include flex;
  } @else {
    display: block;
  }
}

/* Headings */
@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

/* Buttons */
@mixin hover($color:"") {
  &:hover {
    background-color: $hover-grey;
    color: $midd-blue-light;
    cursor: pointer;

    @if $color != "" {
      color: $color;
    }
  }
}



/* Gradients */
@mixin gradient($color1, $color2, $angle:135deg) {
  background: $color1;
  background: linear-gradient($angle, $color1 10%, $color2 90%);
  background: -webkit-linear-gradient($angle, $color1, $color2);
  background: -o-linear-gradient($angle, $color1, $color2);
  background: -moz-linear-gradient($angle, $color1, $color2);
  background: -ms-linear-gradient($angle, $color1, $color2);
}



@mixin noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



@mixin hideScrollbar{

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
  display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */



}