@import "../../common/variables";
@import "../../common/mixins";

.container {
  width: 16rem;
  height: 7rem;
  border: $border-light;
  border-radius: 6px;
  margin: 0.5rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  padding: 0.5rem;
  //background-color: $card-white;
  //background-color: $card-grey;
  background-color: #f3f5f7;

  @include feelHover();

  .cardBody {
    width: 16rem;
    height: 7rem;
    position: relative;
    outline: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;


    &>h5 {
      margin: 0;
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &>span {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #333; //8c8c8c
      border: $border-light;
      border-radius: $border-radius-small;
    }

    &>p {
      font-size: 0.8rem;
      overflow: hidden;
      //white-space: nowrap;
      line-clamp: 2;
      line-height: 1rem;
      //height: 3rem;
      height: 3rem; //4rem
      margin-top: 0.2rem;
    }

    .link {
      margin-top: auto;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .count {
      font-weight: bold;
      position: relative;
      top: -0.7rem;
      border: transparent;
    }

    .term {
      font-weight: bold;
      float: right;
      position: relative;
      top: -0.7rem;
    }
  }
}


.containerLarge {
  width: 21rem;
  height: 12rem;

  .cardBody {
    width: 21rem;
    position: relative;
    outline: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
    text-overflow: ellipsis;


    &>h5 {
      margin: 0;
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &>div>div {
      margin: unset;
      margin-right: 0rem !important;
      margin-left: 0rem !important;

      &>div {
        margin-right: 0rem !important;
        margin-left: 0rem !important;

        &>div {
          margin-right: 0rem !important;
          margin-left: 0rem !important;
        }
      }
    }

  }

}