@import "../../common/variables.scss";
@import "../../common/mixins.scss";


.feature {
   align-items: center;
   position: relative;
   max-width: 400px;
   min-width: 300px;
   height: 8rem;
   display: inline-block;
   padding: 1rem;
   margin: 1rem;
   margin-top: 3rem;
   border-radius: 1rem;
   background-color: #ffffff;
   border: $border-light;
   box-shadow: $shadow-small-light;
   // cursor: pointer; 
   // @include feelHover;

   &:hover {
      box-shadow: $shadow-medium-light;
   }

   svg {
      display: block;
      position: absolute;
      top: -2rem;
      left: calc(50% - 2.2rem);
      margin: auto;
      width: 2rem;
      height: 2rem;
      padding: 1.2rem;
      background-color: #ffffff;
      //outline: 1px solid $grey-dark;
      border-radius: $border-radius-circle;
      -webkit-border-radius: 50%;
      overflow: visible;
      //color: $grey-dark;
      color: $midd-blue;
      outline: $border-light;
      box-shadow: $shadow-small-light;
   }

   h3 {
      text-align: center;
      margin: auto;
      padding: 0;
      padding-top: 1.6rem;
      font-size: $font-size-medium;
      font-weight: bolder;
      color: $grey-dark;
   }


   p {
      text-align: center;
      //width: 26rem;
      margin: auto;
      padding: 0;
      padding-top: 1rem;
      font-size: $font-size-normal;
      color: $grey-dark;


   }


}