@import "../../common/variables.scss";
@import "../../common/mixins.scss";

.container {
  margin: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: inline-block;
  position: relative;

  &:hover,
  &:focus-within {
    &>div {
      display: block;
      z-index: 1;
    }
  }

  input {
    display: block;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    // height: 1.2rem;
    height: 2rem;
    outline: none;
    border: $border-light;
    // border-radius: $border-radius-large;
    border-radius: 32px;
    padding: $padding-half;
    padding-left: $padding-medium;
    padding-right: $padding-medium;
    font-size: $font-size-medium;
    box-shadow: $shadow-small-light;
    z-index: 10;

    //@include noselect;


  }

  .dropdown {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    width: 80%;
    max-height: 20rem;
    max-width: 600px;
    overflow-y: scroll;
    background-color: #fcfcfc;
    border: $border-light;
    border-radius: $border-radius-large;
    top: 1rem;
    left: calc((100% - min(80%, 600px))/2 - 0.85rem);
    padding-top: 2rem;

    box-shadow: $shadow-small-light;

    .spinner>span {
      //center the three elements on the same line
      display: flex;
      align-items: center;
      justify-content: center;

    }

    button {
      background-color: transparent;
      border: none;
      border-bottom: $border-light;
      border-radius: $border-radius-small;
      font-size: 1rem; //0.8rem
      cursor: pointer;

      &:last-child {
        border: none;
        margin-bottom: 0.8rem;
      }

      &:hover {
        background-color: $hover-grey;
        transition: ease-in-out 0.2s;
        padding-left: 0.4rem;

      }

      &:focus {
        background-color: $hover-grey;
        transition: ease-in-out 0.2s;
        padding-left: 0.4rem;
      }

      span {
        margin-right: 0.4rem;

        svg {
          font-size: 1rem;
          color: #333333;
        }
      }

      .courseID {
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #333333;
        //#6e6e6e; //#333; //8c8c8c
        border: $border-light;
        border-radius: $border-radius-small;
        float: right;

      }
    }
  }
}

@media screen and (max-width: $screen-small) {
  .courseID {
    display: none;
  }
}