.fullText {
    display: none;
}

.displayText {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

.toggleLink {
    cursor: pointer;
    color: rgb(102, 102, 102);
    text-decoration: underline;
}